APP_NAME="Conta Pro"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=https://localhost

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR
APP_TIMEZONE=America/Sao_Paulo

APP_MAINTENANCE_DRIVER=cache
APP_MAINTENANCE_STORE=redis

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=sistema_finan
DB_USERNAME=sistema_finan
DB_PASSWORD=sistema_finan

SESSION_DRIVER=redis
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_SECURE_COOKIE=true
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=lax
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=cache
REDIS_PASSWORD=null
REDIS_PORT=6379

BRAPI_URL=https://brapi.dev/api
BRAPI_TOKEN=
BRAPI_TIMEOUT=10
BRAPI_CONNECT_TIMEOUT=3
BRAPI_REQUESTS_PER_MINUTE=10

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="contapro@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# Laravel Octane
OCTANE_SERVER=frankenphp
OCTANE_HTTPS=true

# Lower autoloader dump priority
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
